<!DOCTYPE html>
<html>
<head>
    <title>Tomato Leaf Disease Detection</title>
</head>
<body style="font-family: Arial; text-align: center; margin-top: 50px;">

    <h1>Tomato Leaf Disease Detection</h1>

    <form action="/predict" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <br><br>
        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
    <h2>Prediction: {{ prediction }}</h2>
    <h3>Confidence: {{ confidence }}</h3>

    <h3>Recommended Treatment</h3>
    <p>{{ treatment }}</p>
{% endif %}
</body>
</html>